<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LGI > EDA > @ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/EDA.styles.css" asp-append-version="true" /> *@

</head>
<body>
    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <img src="~/images/lgi-logo-blue.png" width="32" height="32" alt="LGI" title="The Lauridsen Group" />
                </button>
                <div class="sidebar-logo">
                    <a href="#">The Lauridsen Group</a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-controller="Home" asp-action="Index">
                        <i class="lni lni-dashboard" title="Dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-controller="Orders" asp-action="Index">
                        <i class="lni lni-layers" title="Orders"></i>
                        <span>Orders</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-controller="Customers" asp-action="Index">
                        <i class="lni lni-customer" title="Customers"></i>
                        <span>Customers</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                       data-bs-target="#masters" aria-expanded="false" aria-controls="masters">
                        <i class="lni lni-grid-alt" title="Masters"></i>
                        <span>Masters</span>
                    </a>
                    <ul id="masters" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="Masters" asp-action="ConsigneeTypes"><i class="bi bi-person-workspace"></i>Consignee Types</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="Masters" asp-action="ContainerSizes"><i class="bi bi-truck"></i>Container Sizes</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="Masters" asp-action="Incoterms"><i class="bi bi-calendar2-check"></i>Incoterms</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="Masters" asp-action="PaperWorksList"><i class="bi bi-file-earmark-ruled"></i>Paperworks List</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="Masters" asp-action="PaymentTerms"><i class="bi bi-card-checklist"></i>Payment Terms</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="Masters" asp-action="Products"><i class="bi bi-boxes"></i>Products</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="Masters" asp-action="Ports"><i class="bi bi-water"></i>Ports</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="Masters" asp-action="ShipVia"><i class="bi bi-sign-turn-slight-right"></i>ShipVia</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                       data-bs-target="#settings" aria-expanded="false" aria-controls="settings">
                        <i class="lni lni-cog" title="Settings"></i>
                        <span>Settings</span>
                    </a>
                    <ul id="settings" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="Settings" asp-action="Companies"><i class="bi bi-buildings"></i> Companies</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="Masters" asp-action="Plants"><i class="bi bi-geo-alt"></i> Plants</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="BackOps" asp-action="Users"><i class="bi bi-person-gear"></i> Users</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                       data-bs-target="#backops" aria-expanded="false" aria-controls="backops">
                        <i class="bi bi-sliders" title="Back Ops"></i>
                        <span>Back Ops</span>
                    </a>
                    <ul id="backops" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="BackOps" asp-action="AppOps"><i class="bi bi-sliders2-vertical"></i> App Behavior</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="BackOps" asp-action="Masters"><i class="bi bi-database-gear"></i> Master Operations</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="Settings" asp-action="AuditOps"><i class="bi bi-list-check"></i> Audit Trails</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </aside>
        <div class="main">
            <nav class="navbar navbar-expand px-4 py-3">
                <form action="#" class="d-none d-sm-inline-block">
                </form>
                <div class="app-title">
                    Export & Domestic Application
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0 header_img">
                                <img src="~/images/KMK.jpg" class="avatar img-fluid" alt="">
                            </a>
                            <div class="dropdown-menu dropdown-menu-end rounded">
                                <ul>
                                    <li>Account</li>
                                    <li>Preferences</li>
                                    <li>Logout</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="content px-3 py-4">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </main>
            <nav class="footer row px-4 py-3 mt-3">
                <div class="col-md-4">
                    <ul class="nav">
                        <li><a class="nav-link text-dark"><strong>&copy; 2024 - The Lauridsen Group</strong></a></li>
                    </ul>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <ul class="nav">
                        <li class="text-nowrap"><a class="nav-link" href="https://wissen.com"><span class="text-dark">Developed & Maintained by</span> WISSEN INFOTECH</a></li>
                    </ul>
                </div>
                <div class="col-md-4 d-flex justify-content-end">
                    <ul class="nav">
                        <li><a class="nav-link text-dark" asp-controller="Home" asp-action="Terms">Terms & Conditions</a></li>
                        <li><a class="nav-link text-dark" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("Styles", required: false)
</body>
</html>
