@{
    ViewData["Title"] = "PaperworksList Page";
}

<div class="text-center">
    <h1 class="display-5">This is Masters > PaperworksList Page</h1>
    <p>Under Construction</p>

    <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#my-div">Show/Hide</button>
    <div class="collapse" id="my-div">This is my div</div>
</div>

